<!DOCTYPE html>
<html>
    <head>
        <title>CacheTag | Hashtags Compiled</title>
        
        <link rel='stylesheet' href='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css' />
<script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
<script src='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js'></script>
        
        <script>
            $( document ).ready(function(){

            });
			
			function LoadLatestTweets()
			{
				if(localStorage.latest1)
				{
					latestTweets1 = localStorage.latest1;
				}
				else
				{
					localStorage.latest1 = " ";
					latestTweets1 = localStorage.latest1;
				}
				
				if(localStorage.latest2)
				{
					latestTweets2 = localStorage.latest2;
				}
				else
				{
					localStorage.latest2 = " ";
					latestTweets2 = localStorage.latest2;
				}
				
				if(localStorage.latest3)
				{
					latestTweets3 = localStorage.latest3;
				}
				else
				{
					localStorage.latest3 = " ";
					latestTweets3 = localStorage.latest3;
				}
				
				if(localStorage.latest4)
				{
					latestTweets4 = localStorage.latest4;
				}
				else
				{
					localStorage.latest4 = " ";
					latestTweets4 = localStorage.latest4;
				}
				
				if(localStorage.latest5)
				{
					latestTweets5 = localStorage.latest5;
				}
				else
				{
					localStorage.latest5 = " ";
					latestTweets5 = localStorage.latest5;
				}
				
				if(localStorage.latest6)
				{
					latestTweets6 = localStorage.latest6;
				}
				else
				{
					localStorage.latest6 = " ";
					latestTweets6 = localStorage.latest6;
				}
				
				if(localStorage.latest7)
				{
					latestTweets7 = localStorage.latest7;
				}
				else
				{
					localStorage.latest7 = " ";
					latestTweets7 = localStorage.latest7;
				}
				
				if(localStorage.latest8)
				{
					latestTweets8 = localStorage.latest8;
				}
				else
				{
					localStorage.latest8 = " ";
					latestTweets8 = localStorage.latest8;
				}
				
				if(localStorage.latest9)
				{
					latestTweets9 = localStorage.latest9;
				}
				else
				{
					localStorage.latest9 = " ";
					latestTweets9 = localStorage.latest9;
				}
				
				if(localStorage.latest10)
				{
					latestTweets10 = localStorage.latest10;
				}
				else
				{
					localStorage.latest10 = " ";
					latestTweets10 = localStorage.latest10;
				}
                
				document.getElementById("recent1").innerHTML = latestTweets1;
				document.getElementById("recent2").innerHTML = latestTweets2;
				document.getElementById("recent3").innerHTML = latestTweets3;
				document.getElementById("recent4").innerHTML = latestTweets4;
				document.getElementById("recent5").innerHTML = latestTweets5;
				document.getElementById("recent6").innerHTML = latestTweets6;
				document.getElementById("recent7").innerHTML = latestTweets7;
				document.getElementById("recent8").innerHTML = latestTweets8;
				document.getElementById("recent9").innerHTML = latestTweets9;
				document.getElementById("recent10").innerHTML = latestTweets10;
			}
			
			function formSearch()
			{
				LoadLatestTweets();
				
				
				
				if(document.getElementById("Hashtag1").value && document.getElementById("Hashtag2").value)
				{
					localStorage.latest10 = localStorage.latest9;
					localStorage.latest9 = localStorage.latest8;
					localStorage.latest8 = localStorage.latest7;
					localStorage.latest7 = localStorage.latest6;
					localStorage.latest6 = localStorage.latest5;
					localStorage.latest5 = localStorage.latest4;
					localStorage.latest4 = localStorage.latest3;
					localStorage.latest3 = localStorage.latest2;
					localStorage.latest2 = localStorage.latest1;
					
					localStorage.latest10 = localStorage.latest9;
					localStorage.latest9 = localStorage.latest8;
					localStorage.latest8 = localStorage.latest7;
					localStorage.latest7 = localStorage.latest6;
					localStorage.latest6 = localStorage.latest5;
					localStorage.latest5 = localStorage.latest4;
					localStorage.latest4 = localStorage.latest3;
					localStorage.latest3 = localStorage.latest2;
					
					localStorage.latest2 = document.getElementById("Hashtag2").value;
					localStorage.latest1 = document.getElementById("Hashtag1").value;
				}
			}
			
			
        </script>
        
        <style>
            #content {
                background-color:#DDFFFF;
                font-family:cambria;
            }
            
            #header {
                width:100%;
                height:100px;
                background-color:#33CCFF;
                box-shadow:0px 0px 10px #888;
            }
            
            #headerResize, #bodyResize {
                width:640px;
                margin:0 auto;
            }
            
            #menuPanel {
                background-color:#33CCFF;
                padding:20px;
            }
            
            h1 {
                color:white;
                text-shadow:1px 1px 1px #888;
                margin:0;
                padding-top:25px;
                font-family:helvetica;
                margin-bottom:5px;
                margin-left:10px;
            }
            
            h2 {
                color:white;
                text-shadow:1px 1px 1px #888;
                font-size:1.2em;
                margin:0;
                font-family:helvetica;
                margin-left:10px;
            }
            
            #bodyResize {
                padding:10px;    
            }
            
            .bodySection {
                background-color:white;
                margin:0 auto;
                padding:10px;
                border:1px #CCC solid;
                box-shadow:0px 0px 2px #AAA;
                margin-bottom:40px;
                width:500px;
                
            }
            
            .sectionHead {
                font-size:1.05em;   
            }
            
            hr {
                border-color:#CCC;
                opacity:.5;
            }
            
            table {
                width:100%;
            }
            
            td {
                padding:20px;
                background-color:#EEE;
                margin:10px;
                border-radius:10px;
                color:#333;
                text-align:center;
                border:1px white solid;
				width:50%;
            }
            
			.tweetProfImage {
				float:left;
				margin-right: 10px;
			}
			.username {
				margin:0px;
			}
			.tweeted {
				margin:20px;
			}
        </style>
    </head>
    <body onload="LoadLatestTweets()"> 
        <div id='content'>
            <div id='header'>
                <div id='headerResize'>
                    <h1 onclick="LoadLatestTweets();">CacheTag</h1>
                    <h2>Hashtags Compiled</h2>
                </div>
            </div>
            <div id='body'>
                <div id='bodyResize'>
                    <div id='recentSearches' class='bodySection'>
                        <span class='sectionHead'>Recent Searches</span>
                        <hr />
                        <table border='0'>
                            <tr>
                                <td id="recent1"></td>
                                <td id="recent2"></td>
                            </tr>
                            <tr>
                                <td id="recent3"></td>
                                <td id="recent4"></td>
                            </tr>
                            <tr>
                                <td id="recent5"></td>
                                <td id="recent6"></td>
                            </tr>
                            <tr>
                                <td id="recent7"></td>
                                <td id="recent8"></td>
                            </tr>
                            <tr>
                                <td id="recent9"></td>
                                <td id="recent10"></td>
                            </tr>
                        </table>
                    </div>
					
                    <div id="test"></div>
					
                    <div id='topSearches' class='bodySection'>
                        <span class='sectionHead'>Most Popular Hashtags</span>
                        <hr />
                        <table border='0'>
                            <tr>
                                <td>#Tag</td>
                                <td>Tag</td>
                            </tr>
                            <tr>
                                <td>Tag</td>
                                <td>Tag</td>
                            </tr>
                            <tr>
                                <td>Tag</td>
                                <td>Tag</td>
                            </tr>
                            <tr>
                                <td>Tag</td>
                                <td>Tag</td>
                            </tr>
                            <tr>
                                <td>Tag</td>
                                <td>Tag</td>
                            </tr>
                        </table>
                    </div>
                    <div id='search' class='bodySection'>
                        <span class='sectionHead'>Discover</span>
                        <hr>
						<form action="/formPost" method="post">
							<input type="text" name="hashtag1" id="Hashtag1" placeholder="#hashtag" required>
							<!--<input type="text" name="hashtag2" id="Hashtag2" placeholder = "#hashtag" required>-->
							<select name="source">
								<option value="twitter">Twitter</option>
								<option value="instagram">Instagram</option>
							</select>
							<label for="slider-1">Distance:</label>
							<input type="range" name="distance" id="distance" min="0" max="100" value="50">
							
							<input type="submit" value="Search" onclick="formSearch()">
						</form>
						<hr/>
						
						<article id="tweets">
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[0] %>/>
								<h3 class="username"><%= name[0] %></h3>
								<p class="tweeted"><%= text[0] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[0] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[1] %>/>
								<h3 class="username"><%= name[1] %></h3>
								<p class="tweeted"><%= text[1] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[1] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[2] %>/>
								<h3 class="username"><%= name[2] %></h3>
								<p class="tweeted"><%= text[2] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[2] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[3] %>/>
								<h3 class="username"><%= name[3] %></h3>
								<p class="tweeted"><%= text[3] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[3] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[4] %>/>
								<h3 class="username"><%= name[4] %></h3>
								<p class="tweeted"><%= text[4] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[4] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[5] %>/>
								<h3 class="username"><%= name[5] %></h3>
								<p class="tweeted"><%= text[5] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[5] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[6] %>/>
								<h3 class="username"><%= name[6] %></h3>
								<p class="tweeted"><%= text[6] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[6] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[7] %>/>
								<h3 class="username"><%= name[7] %></h3>
								<p class="tweeted"><%= text[7] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[7] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[8] %>/>
								<h3 class="username"><%= name[8] %></h3>
								<p class="tweeted"><%= text[8] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[8] %></p>
							</section>
							<hr/>
							<section class="tweetWrapper">
								<img class="tweetProfImage" src=<%= picture[9] %>/>
								<h3 class="username"><%= name[9] %></h3>
								<p class="tweeted"><%= text[9] %></p>
								<p class="feels">Sentiment Score: <%= sentiment[9] %></p>
							</section>
							
						</article>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>